<mat-form-field>
  <mat-icon matPrefix>search</mat-icon>
  <input type="text" #input placeholder="search user" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="fun($event)">
  <mat-option *ngFor="let item of searchItems" [value]="item">
    <div class="search-result">
      <img src="{{ item.profile_image_url_https }}" alt="">
      <span>{{ item.name }} (@{{ item.screen_name }})</span>
    </div>
  </mat-option>
</mat-autocomplete>